In [1]:
import pickle
import pandas as pd
import re
import os
from time import sleep

In [2]:
import warnings
import pandas as pd
from tqdm import tqdm
import csv
import tweepy
warnings.filterwarnings("ignore")
from IPython.display import Image 
from IPython.core.display import Image, display
from collections import Counter
import pandas as pd
import pymongo
import bson
import matplotlib.pyplot as plt
import matplotlib
from tqdm import tqdm
import pickle
import re
import time
import random
from itertools import permutations
username = "tagger-admin"
password = "tvaiadmin"
db_client = pymongo.MongoClient('104.198.62.226', username=username,
                                password=password,
                                authSource='tags',
                                authMechanism='SCRAM-SHA-256', port=27017).tags

In [3]:
consumer_key="zFdhu7Y1CBLxcA8qLgOEIvf3L"
consumer_secret="RQL1BAtYeTlD8CaihYRVQulmOS7NWJgsQnG09M4Wvhm3AG4IYd"
access_key="897617177058004992-Xritg053y3gpwodIxGJyFh62JtC2uiw"
access_secret="4WERqw181TPnhzz1cAkAySlhJA87DLhgNxJZJaPB8gULx"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [6]:
twitter_accounts = pd.read_csv("twitter_accounts.csv", header=None)
twitter_accounts

                     0
0              004nino
1            007thirty
2       snippetfinance
3      00bb263079e14e7
4            020trader
...                ...
21000    ztrk_muzaffer
21001           zuzuku
21002        zxc098xxx
21003       zz_zigurds
21004       zzeerrooaa

[21005 rows x 1 columns]

In [22]:
def load(screen_name):
    ids = []
    backoff_counter = 1
    my_cusrsor = tweepy.Cursor(api.followers, count=200, screen_name=screen_name)
    while True:
        try:
            for page in tqdm(my_cusrsor.pages()):
                ids.extend(page)
                time.sleep(5)
            break
        except Exception as err:
            print(err)
            sleep(60)
            continue

    pickle.dump( ids, open( screen_name + ".p", "wb" ) )

In [15]:
db = db_client["tweets_pipeline_v2"].find({
    "$or":[
    {"status": 'graphicone_search'}, 
    {"status": 'graphicone_feed'},
    ],
    "username": {"$exists": True}})
usernameCollector = []
for i in db:
    usernameCollector.append(i["username"])

In [25]:
def checkInDir(screen_name):    
    listDir = [row[:-2] for row in os.listdir() if re.search("\.p", row)]
    if screen_name in listDir:
        return True
    else:
        return False

In [ ]:
for i in Counter(usernameCollector).most_common():
    print(i[0], checkInDir(i[0]))
    if checkInDir(i[0]) == False:        
        print(load(i[0]))

0it [00:00, ?it/s]

rob_hager True
patrickartus True
luca_gualtieri1 True
statistacharts True
planmaestro True
bbgvisualdata True
wineecon True
winfieldsmart True
lizannsonders False

120it [2:04:01, 62.01s/it]

Failed to send request: ('Connection aborted.', OSError("(104, 'ECONNRESET')"))

105it [1:32:07,  8.00s/it]